# OSINT Report – {{ domain }}
_Run: {{ run_datetime }}_

# Summary


# Introduction
# Process
# Retrieved Info Summary
# Investigation
In this chapter, we delve into the information-gathering process conducted on the web infrastructure of {{web_domain}}. It's important to note that while a multitude of data sources were queried, only those providing relevant information with potential use for malicious actors are highlighted here.
## Domain
### DNS Records
### SPF & DMARC
Another useful check is the analysis of **DMARC** and **SPF** records. These email authentication mechanisms are **essential** for protecting a domain from **abuse** and **phishing** attacks. DMARC (*Domain-based Message Authentication, Reporting, and Conformance*) allows domain owners to specify how emails *failing authentication checks* should be handled, and provides detailed reports on unauthorized use attempts. On the other hand, SPF (Sender Policy Framework) defines *which servers are authorized to send emails* on behalf of the domain.
#### DMARC
![DMARC Info]({{ images.dmarc }})

#### SPF
![SPF Info]({{ images.spf }})

### SSL Check
SSL/TLS certificates are another crucial component in assessing a domain's security and reliability. They ensure that communications between the website and its users are **encrypted** and **secure**. Analyzing these certificates allows verification of their **validity**, **expiration date**, and the issuing **certificate authority**. Proper configuration can prevent **man-in-the-middle attacks** and ensure **sensitive information** is protected during transit.

The analysis of SSL/TLS certificates includes:
- **Validity Check:** Ensuring the certificate's expiration date is still valid.
- **Certificate Authority:** Identifying the issuing authority and verifying its trustworthiness.
- **Security Configuration:** Examining security settings, such as the use of strong **encryption protocols** and **HSTS** configurations.

#### Server Certificate Info
**Common name**: `{{ ssl_check["Common name"] }}`<br>
**SANs**: ``{{ ssl_check["SANs"]|join(', ') }}``<br>
**Organization**: {{ ssl_check["Organization"] }}<br>
**Location**: {{ ssl_check["Location"]|join(', ') }}<br>
**Valid from**: {{ ssl_check["Valid from"] }}<br>
**Valid until**: {{ ssl_check["Valid until"] }}<br>
**Serial Number**: {{ ssl_check["Serial Number"] }}<br>
**Signature Algorithm**: {{ ssl_check["Signature Algorithm"] }}<br>
**Issuer**: {{ ssl_check["Issuer"] }}<br>

#### Certificate Chain
![SSL Info]({{ images.ssl_check }})
### Technology Stack
| Name 	| Version 	| Category 	|
|------	|---------	|----------	|
### Header Analysis
{% if header_analysis|length > 0 %}
The analysis of the headers revealed the absence of important security headers

| Header | Description |
|--------|-------------|
{% for header, value in header_analysis.items() %}
| `{{ header }}` | {{ value }} |
{% endfor %}
{% else %}
All important security headers are present, indicating that the web application has implemented the necessary measures to enhance its security posture.
{% endif %}

## Subdomains
Here is a list of subdomains discovered during the investigation with respective IP addresses. 

These subdomains may provide additional attack vectors or insights into the web infrastructure of **{{domain}}**

{% if subdomains_ips|length > 0 %}
| Subdomain | Ip Address(es) |
|-----------|----------------|
{% for subdomain, ips in subdomains_ips.items() %}
| `{{ subdomain }}` | {% if ips|length > 0 %}{{ ips|join('<br/>')|safe }}{% else %}_No IPs Found_{% endif %} |
{% endfor %}
{% else %}
No subdomains were found for **{{domain}}**.
{% endif %}

## Hosts
## Provider Hosting
## Compromised Hosts
## Compromised Credentials
This section contains all compromised credentials identified during the OSINT investigation. Credential compromise is one of the most severe cybersecurity threats, as it can give attackers direct access to **sensitive internal resources**, **critical systems**, and **confidential data**. The collected information comes from **known breaches**, **data leaks**, and **illicit sharing platforms**, providing an overview of the risks the company might face. This analysis aims to identify potential **entry points** for future attacks and suggest **mitigation measures** to protect the integrity of the company's systems.

It is provided first a summary of the compromised emails, followed by a detailed list of each credential.
{% if leaked_credentials|length > 0 %}
### Summary of Leaked Credentials
| Email | Count |
|--------|-------|
{% for email, leaks in leaked_credentials.items() %}
| {{ email }} | {{ leaks|length }} |
{% endfor %}
### Leaked Credentials
{% for email, leaks in leaked_credentials.items() %}
### {{ email }}
#### Involvement in Data Breaches
{% if data_breaches[email]|length == 0 %}
No data breaches found for **{{email}}** from public sources.
{% else %}
| Title | Date | Compromised Data  |
|---------------|------|------------------|
{% for breach in data_breaches[email] %}
| **{{ breach.Title }}** | {{ breach.AddedDate }} | {{ breach.DataClasses|join(', ') }} |
{% endfor %}
{% endif %}
#### Data Leaks
{% for leak in leaks %}
- `{{ leak }}`
{% endfor %}
{% endfor %}
{% else %}
No compromised credentials were found for **{{domain}}**.
{% endif %}
## Data Breach Details (???)
# Conclusion