<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Report OSINT – {{ domain | default('N/A') }}</title>
</head>
<body>
<!-- Da utilizzare successivamente nel template -->
    <!-- Data Breach unici con descrizione-->
    {% set breach_dict = {} %}
    {% if data_breaches is defined %}
        {% for email, breaches in data_breaches.items() %}
            {% for breach in breaches %}
                {% if breach is defined and 'Title' in breach and 'Description' in breach %}
                    {% if breach_dict.update({breach['Title']: breach['Description']}) %}{% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    <!-- ASN unici con ISP -->
    
    {% if hosts is defined %}
        {% set asn_dict = {} %}
        {% for ip, info in hosts.items() %}
            {% if info is defined and 'asn' in info and 'isp' in info and info['asn'] and info['isp'] %}
                {% if asn_dict.update({info['asn']: info['isp']}) %}{% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% set total_vulns = (hosts.values() | map(attribute='total_vulns') | sum) if hosts is defined else 0 %}

    <div class="header">
        <img src="https://i.imgur.com/x5MX1ah.png">
    </div>
    <div class="footer-left">
        OSINT-{{ domain | default('N/A') }} {{ run_datetime.split(' ')[0] if run_datetime is defined }}
    </div>

    <div class="footer-right">
        Pagina <span class="page-counter"></span> di <span class="total-pages"></span>
    </div>

    <div class="title-page">
        <img class="title-image" src="https://i.ibb.co/dwQT2yj7/Open-Source-Intelligence-Report.png" alt="Report di Intelligence da Fonti Aperte" class="title-image">
        <div class="title-overlay">
            <span class="client-domain">{{ domain | default('N/A') }}</span>
        </div>
    </div>

    <div class="section" id="introduction">
        <h1>Introduzione</h1>
        <p><strong>Open Source Intelligence (<em>OSINT</em>)</strong>, è una disciplina focalizzata sulla <strong>ricerca</strong>, <strong>raccolta</strong> e <strong>analisi</strong> di informazioni rilevanti da fonti pubblicamente accessibili. Questi <strong>dati</strong>, spesso disponibili in un <em>formato non strutturato</em>, vengono analizzati e correlati per ottenere una <strong>comprensione completa</strong> del contesto di interesse. Nel campo delle <strong>investigazioni OSINT</strong>, viene posta particolare attenzione all'uso di <em>tecniche automatizzate</em> per raccogliere dati da un'ampia gamma di fonti, seguita da una fase di analisi manuale approfondita finalizzata a simulare la prospettiva di un potenziale <strong>attaccante</strong> sul target.</p>
        <img src="https://www.safeguarding-science.eu/wp-content/uploads/OSINT_diagramm_bl.png" alt="Diagramma OSINT" class="screenshot">
    </div>

    <div class="section" id="process">
        <h1>Processo</h1>
        Questo report è stato generato automaticamente utilizzando uno strumento avanzato di Open-Source Intelligence (OSINT) progettato per raccogliere e riassumere <strong>informazioni sulla sicurezza informatica</strong> relative al dominio in questione. Il processo inizia cercando su un'ampia gamma di fonti pubbliche attendibili qualsiasi dato relativo al dominio, come possibili incidenti di sicurezza, esposizioni o tecnologie in uso. Queste informazioni vengono raccolte in modo coerente e organizzato per fornire il quadro più completo possibile.<br><br>
        Poiché l'<strong>intero report è creato automaticamente</strong>, potrebbero esserci occasioni in cui alcuni dettagli mancano se non disponibili da fonti pubbliche. Tuttavia, prima che il report venga consegnato, tutte le informazioni incluse vengono attentamente <strong>verificate per accuratezza</strong> per garantire i più alti standard di qualità e affidabilità.
    </div>

    <div class="section" id="retrieved-info-summary">
        <h1>Riepilogo delle Informazioni Recuperate</h1>
        <p>
            In questa sezione viene presentato un <strong>elenco di informazioni</strong> identificate durante l'<strong>investigazione OSINT</strong> per l'<strong>azienda target</strong>.
            La seguente tabella fornisce <strong>informazioni statistiche</strong> sui dati raccolti, inclusi <strong>rischi associati</strong> e <strong>occorrenze</strong>.
        </p>
        <table class="summary-table">
            <tr>
                <th>Dati Raccolti</th>
                <th>Rischio</th>
                <th style="text-align: center;">Occorrenze</th>
            </tr>
            <tr>
                <td>Indirizzi email compromessi</td>
                <td style="color: darkred"><strong><em>Critico</em></strong></td>
                <td class="summary-risk critical">
                    {% if leaked_credentials is defined and leaked_credentials|length > 0 %}
                        {{ leaked_credentials|length }}
                    {% else %}
                        0
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Vulnerabilità sugli host</td>
                <td style="color: red"><strong><em>Alto</em></strong></td>
                <td class="summary-risk high">
                    {% set total_vulnerabilities = (hosts.values()|map(attribute='vulns')|map('length')|sum) if hosts is defined else 0 %}
                    {% if total_vulnerabilities > 0 %}
                        {{ total_vulnerabilities }}
                    {% else %}
                        0
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Indirizzi IP compromessi</td>
                <td style="color: red"><strong><em>Alto</em></strong></td>
                <td class="summary-risk high">
                    {% if compromised_ips is defined %}
                        {{ compromised_ips|length }}
                    {% else %}
                        0
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Data Breach</td>
                <td style="color: red"><strong><em>Alto</em></strong></td>
                <td class="summary-risk high">
                    {% if breach_dict|length > 0 %}
                        {{ breach_dict|length }}
                    {% else %}
                        0
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Porte esposte</td>
                <td style="color: orange"><strong><em>Medio</em></strong></td>
                <td class="summary-risk medium">
                    {% if hosts is defined and hosts|length > 0 %}
                        {{ hosts.values()|map(attribute='data')|map('length')|sum }}
                    {% else %}
                        0
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Sottodomini</td>
                <td style="color: blue"><strong><em>Informazione</em></strong></td>
                <td class="summary-risk info">
                    {% if subdomains_ips is defined and subdomains_ips|length > 0 %}
                        {{ subdomains_ips.keys()|length }}
                    {% else %}
                        0
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Provider di hosting</td>
                <td style="color: blue"><strong><em>Informazione</em></strong></td>
                <td class="summary-risk info">
                    {% if asn_dict|length > 0 %}
                        {{ asn_dict|length }}
                    {% else %}
                        0
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Indirizzi IP</td>
                <td style="color: blue"><strong><em>Informazione</em></strong></td>
                <td class="summary-risk info">
                    {% if subdomains_ips is defined and subdomains_ips|length > 0 %}
                        {{ subdomains_ips.values()|map('length')|sum }}
                    {% else %}
                        0
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>

    <div class="section" id="investigation">
        <h1>Investigazione</h1>
        <p>
            In questo capitolo approfondiamo il processo di raccolta delle informazioni condotto sull'infrastruttura web di 
            {% if web_domain is defined and web_domain %}{{ web_domain }}{% else %}{{ domain | default('N/A') }}{% endif %}.
            È importante notare che, sebbene siano state interrogate molteplici fonti di dati, qui vengono evidenziate solo quelle che forniscono informazioni rilevanti con potenziale utilizzo da parte di attori malintenzionati.
        </p>
    </div>
    

    {% if dns_records is defined %}
    <div class="section" id="dns-records">
        <h2>Dominio</h2>
        {% set domain_header_displayed = true %}

        <h3>Record DNS</h3>
        <p>
            Un'altra importante fonte di informazioni per l'analisi del dominio è rappresentata dai <strong>record DNS</strong>.  
            Questi record forniscono dettagli tecnici essenziali, come gli <strong>indirizzi IP</strong> associati al dominio (<strong>A</strong> e <strong>AAAA</strong>), i <strong>server di posta</strong> (<strong>MX</strong>), i <strong>name server</strong> (<strong>NS</strong>) e altre configurazioni chiave come <strong>CNAME</strong> e <strong>TXT</strong>.  
            Analizzando i <strong>record DNS</strong>, è possibile ottenere una comprensione approfondita della configurazione del dominio e della sua <strong>infrastruttura tecnica</strong> sottostante, aiutando a identificare potenziali <strong>punti di interesse</strong> o <strong>vulnerabilità</strong>.
        </p>
        {% for dns_domain, dns_data in dns_records.items() %}
            {% if dns_records|length > 1 %}
                <h4>{{ dns_domain }}</h4>
            {% endif %}
            {% for record_type, content in dns_data.items() %}
                <h5>Record {{ record_type.upper() }}</h5>
                {% if content is not defined or content|length == 0 %}
                    <p><em>Nessun record {{ record_type }} trovato per <strong>{{ domain | default('N/A') }}</strong>.</em></p>
                {% else %}
                    {% if record_type == 'txt' %}
                        {% for txt_record in content %}
                            <div><code>{{ txt_record }}</code></div>
                        {% endfor %}
                    {% else %}
                        <table class="record-table">
                            {% if loop.first %}
                                <tr>
                                    <th>Host</th>
                                    <th>Indirizzo IP</th>
                                    <th>ASN</th>
                                    <th>Nome ASN</th>
                                </tr>
                            {% endif %}
                            {% for record in content %}
                                <tr>
                                    <td><code>{{ record.host | default('N/A') }}</code></td>
                                    <td>
                                        {% if record.ips is defined and record.ips and record.ips[0] is defined and 'ip' in record.ips[0] %}
                                            {{ record.ips[0].ip }}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if record.ips is defined and record.ips and record.ips[0] is defined and 'asn' in record.ips[0] %}
                                            {{ record.ips[0].asn }}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if record.ips is defined and record.ips and record.ips[0] is defined and 'asn_name' in record.ips[0] %}
                                            {{ record.ips[0].asn_name }}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    
    {% if images is defined and ('dmarc' in images or 'spf' in images) %}
    <div class="section" id="spf-dmarc">
        {% if not domain_header_displayed %}
            <h2>Domain</h2>
            {% set domain_header_displayed = true %}
        {% endif %}
        <h3>DMARC & SPF</h3>
        <p>
            Another useful check is the analysis of <strong>DMARC</strong> and <strong>SPF</strong> records. These email authentication mechanisms are <strong>essential</strong> for protecting a domain from <strong>abuse</strong> and <strong>phishing</strong> attacks. DMARC (<em>Domain-based Message Authentication, Reporting, and Conformance</em>) allows domain owners to specify how emails <em>failing authentication checks</em> should be handled, and provides detailed reports on unauthorized use attempts. On the other hand, SPF (Sender Policy Framework) defines <em>which servers are authorized to send emails</em> on behalf of the domain.
        </p>
        {% if 'dmarc' in images %}
            <h4 id="dmarc">DMARC</h4>
            {% for dmarc_domain, dmarc_img in images['dmarc'].items() %}
                {% if images['dmarc'] | length > 1 %} <!-- i.e., multiple images because of multiple domains -->
                    <h5>{{ dmarc_domain }}</h5>              
                {% endif %}
                <img src="{{ images['dmarc'][dmarc_domain] }}" alt="DMARC Info" class="screenshot">
            {% endfor %}
        {% endif %}

        {% if 'spf' in images %}
            <h4 id="spf">SPF</h4>
            {% for spf_domain, spf_img in images['spf'].items() %}
                {% if images['spf'] | length > 1 %} <!-- i.e., multiple images because of multiple domains -->
                   <h5>{{ spf_domain }}</h5>                 
                {% endif %}
                <img src="{{ images['spf'][spf_domain] }}" alt="DMARC Info" class="screenshot">
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}

    {% if ssl_check is defined %}
    <div class="section" id="ssl-check">
        {% if not domain_header_displayed %}
            <h2>Dominio</h2>
            {% set domain_header_displayed = true %}
        {% endif %}
        <h3>Controllo SSL</h3>
        <p>
            I certificati SSL/TLS sono un altro componente cruciale per valutare la sicurezza e l'affidabilità di un dominio. Garantiscono che le comunicazioni tra il sito web e i suoi utenti siano <strong>criptate</strong> e <strong>sicure</strong>. L'analisi di questi certificati consente di verificarne la <strong>validità</strong>, la <strong>data di scadenza</strong> e l'<strong>autorità di certificazione</strong> emittente. Una configurazione corretta può prevenire <strong>attacchi man-in-the-middle</strong> e garantire che le <strong>informazioni sensibili</strong> siano protette durante la trasmissione.
        </p>
        <p>L'analisi dei certificati SSL/TLS include:</p>
        <ul>
            <li><strong>Controllo di validità:</strong> Verifica che la data di scadenza del certificato sia ancora valida.</li>
            <li><strong>Autorità di certificazione:</strong> Identifica l'autorità emittente e verifica la sua affidabilità.</li>
            <li><strong>Configurazione di sicurezza:</strong> Esamina le impostazioni di sicurezza, come l'uso di <strong>protocolli di cifratura robusti</strong> e configurazioni <strong>HSTS</strong>.</li>
        </ul>
        <h4 id="server-certificate-info">Informazioni sul Certificato del Server</h4>
        <p>
        {% if ssl_check is defined %}
            {% if 'Common name' in ssl_check and ssl_check['Common name'] %}
                <strong>Dominio:</strong> <code>{{ ssl_check['Common name'] }}</code><br>
            {% endif %}
            
            {% if 'Common name' in ssl_check and ssl_check['Common name']|length > 0 %}
                <strong>Nome comune:</strong><code>{{ ssl_check['Common name'] }}</code><br>
            {% endif %}
            
            {% if 'SANs' in ssl_check and ssl_check['SANs'] %}
                {% if ssl_check['SANs'] is string %}
                    <strong>SANs:</strong> <code>{{ ssl_check['SANs'] }}</code><br>
                {% else %}
                    <strong>SANs:</strong> <code>{{ ssl_check['SANs']|join(', ') }}</code><br>
                {% endif %}
            {% endif %}
            
            {% if 'Organization' in ssl_check and ssl_check['Organization'] %}
                <strong>Organizzazione:</strong> <code>{{ ssl_check['Organization'] }}</code><br>
            {% endif %}
            
            {% if 'Location' in ssl_check and ssl_check['Location'] %}
                {% if ssl_check['Location'] is string %}
                    <strong>Località:</strong> <code>{{ ssl_check['Location'] }}</code><br>
                {% else %}
                    <strong>Località:</strong> <code>{{ ssl_check['Location']|join(', ') }}</code><br>
                {% endif %}
            {% endif %}

            {% if 'Valid from' in ssl_check and ssl_check['Valid from'] %}
                <strong>Valido dal:</strong> <code>{{ ssl_check['Valid from'] }}</code><br>
            {% endif %}
            
            {% if 'Valid until' in ssl_check and ssl_check['Valid until'] %}
                <strong>Valido fino al:</strong> <code>{{ ssl_check['Valid until'] }}</code><br>
            {% endif %}
            
            {% if 'Serial Number' in ssl_check and ssl_check['Serial Number'] %}
                <strong>Numero seriale:</strong> <code>{{ ssl_check['Serial Number'] }}</code><br>
            {% endif %}
            
            {% if 'Signature Algorithm' in ssl_check and ssl_check['Signature Algorithm'] %}
                <strong>Algoritmo di firma:</strong> <code>{{ ssl_check['Signature Algorithm'] }}</code><br>
            {% endif %}
            
            {% if 'Issuer' in ssl_check and ssl_check['Issuer'] %}
                <strong>Emittente:</strong> <code>{{ ssl_check['Issuer'] }}</code><br>
            {% endif %}
        {% endif %}
        </p>
        <h4 id="certificate-chain">Catena di Certificati</h4>
        {% if images is defined and 'ssl_check' in images %}
            <img src="{{ images.ssl_check }}" alt="Catena SSL" class="screenshot">
        {% endif %}
    </div>
    {% endif %}

    {% if tech_stack is defined %}
    <div class="section" id="technology-stack">
        {% if not domain_header_displayed %}
            <h2>Dominio</h2>
            {% set domain_header_displayed = true %}
        {% endif %}
        <h3>Stack Tecnologico</h3>
        <table>
            <tr>
                <th>Categoria</th>
                <th>Tecnologie Utilizzate</th>
            </tr>
            {% if tech_stack is defined %}
                {% for category, technologies in tech_stack.items() %}
                    <tr>
                        <td>{{ category }}</td>
                        <td>
                            {% if technologies|length > 0 %}
                                {{ technologies|join('<br/>')|safe }}
                            {% else %}
                                <em>Nessuna tecnologia trovata</em>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
    {% endif %}

    {% if header_analysis is defined %}
    <div class="section" id="header-analysis">
        {% if not domain_header_displayed %}
            <h2>Dominio</h2>
            {% set domain_header_displayed = true %}
        {% endif %}
        <h3>Analisi degli Header</h3>
        {% if header_analysis|length > 0 %}
            <p>L'analisi degli header ha rilevato l'assenza di importanti header di sicurezza:</p>
            <table>
                <tr><th>Header</th><th>Descrizione</th></tr>
                {% for header, value in header_analysis.items() %}
                    <tr><td><code>{{ header }}</code></td><td>{{ value }}</td></tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Tutti gli importanti header di sicurezza sono presenti, indicando che l'applicazione web ha implementato le misure necessarie per migliorare il suo livello di sicurezza.</p>
        {% endif %}
    </div>
    {% endif %}

    {% if subdomains is defined %}
    <div class="section" id="subdomains">
        <h2>Sottodomini</h2>
        <p>
            Di seguito è riportato un elenco di sottodomini scoperti durante l'investigazione con i rispettivi indirizzi IP.<br>
            Questi sottodomini possono fornire ulteriori vettori di attacco o informazioni sull'infrastruttura web di <strong>{{ domain | default('N/A') }}</strong>
        </p>
        {% if subdomains_ips|length > 0 %}
            <table class="subdomain-table">
                <tr><th>Sottodominio</th><th>Indirizzo(i) IP</th></tr>
                {% for subdomain, ips in subdomains_ips.items() %}
                    <tr>
                        <td><code>{{ subdomain }}</code></td>
                        <td>
                            {% if ips|length > 0 %}
                                {{ ips|join("<br/>")|safe }}
                            {% else %}
                                <em>Nessun IP trovato</em>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p><em>Nessun sottodominio trovato per <strong>{{ domain | default('N/A') }}</strong>.</em></p>
        {% endif %}
    </div>
    {% endif %}


    {% if hosts is defined %} 
    <div class="section" id="hosts">
        <h2>Host</h2>
        <p>In questo capitolo vengono raccolte e analizzate tutte le informazioni relative agli <strong>host</strong> identificati durante l'investigazione. Ogni host rappresenta un potenziale <strong>punto di accesso</strong> e una preziosa <strong>fonte di dati</strong> per comprendere meglio la <strong>rete</strong> e le <strong>risorse</strong> del target. Questo capitolo fornisce una visione chiara e approfondita di ciascun host, evidenziando <strong>elementi critici</strong> che potrebbero essere sfruttati in un potenziale attacco.</p>
        {% if hosts|length > 0 %}
            <h3 class="vulerability-summary-header">
                Riepilogo delle Vulnerabilità
            </h3>
            <table class="vulnerability-summary-table">
                {% if total_vulns > 0.0 %}
                    <tr>
                        <th class="vulnerability-summary-ip">Indirizzo IP</th>
                        <th class="vulnerability-summary-vulns">Num. di vulnerabilità</th>
                        <th class="vulnerability-summary-risk">Livello di rischio</th>
                    </tr>
                    {% for ip, info in hosts.items() %}
                        {% if info is defined and 'vulns' in info and info['vulns']|length > 0 %}
                        <tr>
                            <td><code>{{ ip }}</code></td>
                            <td>{{ info['vulns']|length }}</td>
                            <td class="vulnerability-score
                                                {% if info['cvss_average'] is defined and info['cvss_average'] >= 9 %}
                                                    critical
                                                {% elif info['cvss_average'] is defined and info['cvss_average'] >= 7 %}
                                                    high
                                                {% elif info['cvss_average'] is defined and info['cvss_average'] >= 4 %}
                                                    medium
                                                {% else %}
                                                    low
                                                {% endif %}
                            ">
                                <strong>
                                    {% if info['cvss_average'] is defined and info['cvss_average'] >= 9 %}
                                        critico
                                    {% elif info['cvss_average'] is defined and info['cvss_average'] >= 7 %}
                                        alto
                                    {% elif info['cvss_average'] is defined and info['cvss_average'] >= 4 %}
                                        medio
                                    {% else %}
                                        basso
                                    {% endif %}
                                </strong>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <em>Nessuna vulnerabilità trovata per alcun host.</em>
                {% endif %}
            </table>
            {% for ip, info in hosts.items() %}
                <table class="host-table">
                    <tr class="ip-row">
                        <td colspan="2">
                            <code class="bold-transparent-code">{{ ip }}</code><br/>
                            {% if (info is defined and ((info['city'] is defined and info['city']) or (info['country_name'] is defined and info['country_name']))) %}
                            Località:
                            {% if info['city'] is defined and info['city'] %}{{ info['city'] }}{% endif %}
                            {% if (info['city'] is defined and info['city']) and (info['country_name'] is defined and info['country_name']) %}-{% endif %}
                            {% if info['country_name'] is defined and info['country_name'] %}{{ info['country_name'] }}{% endif %}
                            {% endif %}
                        </td>
                    </tr>
                        {% if info is defined and info|length > 0 %}
                            {% if info['data'] is defined and info['data']|length > 0 %}
                                {% for service in info.data %}
                                        <tr class="exposed-service-header">
                                            <td colspan="2">
                                                <code class="bold-transparent-code">{{ service['port'] if 'port' in service else 'N/A' }}/{{ service['transport'] if 'transport' in service else 'N/A'}}</strong></code><br/>
                                            </td>
                                        </tr>
                                        <tr class="exposed-service-data">
                                            <td colspan="2">
                                                {% if (service['product'] is defined and service['product']) or (service['os'] is defined and service['os'] != None) %}
                                                    <strong><em>Software</em></strong><br/>
                                                    {% if service['product'] is defined and service['product'] %}
                                                        &emsp;{{ service['product'] }}{% if service['version'] is defined and service['version'] %}/{{ service['version'] }}{% endif %}<br/>
                                                    {% endif %}
                                                    {% if service['os'] is defined and service['os'] != None %}
                                                        &emsp;{{ service['os'] }}<br/>
                                                    {% endif %}
                                                {% endif %}
                                                {% if service['data'] is defined and service['data'] %}
                                                    <strong><em>Dati</em></strong><br/>
                                                    <pre style="font-size: 12px;">{{ service['data'] }}</pre>
                                                {% endif %}
                                            </td>
                                        </tr>
                                {% endfor %}
                            {% endif %}
                            {% if info['asn'] is defined and info['asn'] %}
                                <tr class="asn-info">
                                    <td colspan="2">
                                        <strong><em>Informazioni ASN</em></strong><br/>
                                        &emsp;<code class="bold-transparent-code">{{ info['asn'] }}</code>
                                        {% if info['isp'] is defined and info['isp'] %} ({{ info['isp'] }}){% endif %}<br/>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if info['vulns'] is defined and info['vulns']|length > 0 %}
                                {% for cve in info['vulns'] %}
                                    <tr class="vulnerability-row">
                                        <td class="vulnerability-info">
                                            {% if loop.first %}
                                                <strong><em>Vulnerabilità</em></strong><br/>
                                            {% endif %}
                                            <strong>{{ cve['cve_id'] if cve is defined and 'cve_id' in cve else '' }}</strong><br/>
                                            {{ cve['summary'] if cve is defined and 'summary' in cve else '' }}
                                        </td>
                                        <td class="vulnerability-score
                                            {% if cve is defined and 'cvss' in cve and cve['cvss'] >= 9 %}
                                                critical
                                            {% elif cve is defined and 'cvss' in cve and cve['cvss'] >= 7 %}
                                                high
                                            {% elif cve is defined and 'cvss' in cve and cve['cvss'] >= 4 %}
                                                medium
                                            {% else %}
                                                low
                                            {% endif %}
                                        ">
                                            <strong>{{ cve['cvss'] if cve is defined and 'cvss' in cve else '' }}</strong>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr class="vulnerability-info">
                                    <td colspan="2">
                                        <strong><em>Nessuna vulnerabilità trovata per questo host.</em></strong>
                                    </td>
                                </tr>
                            {% endif %}
                        {% else %}
                            <tr class="no-data-row">
                                <td colspan="2">
                                    <strong><em>Nessun dato trovato per questo host.</em></strong>
                                </td>
                            </tr>
                        {% endif %}
                    </tr>
                </table>
            {% endfor %}
        {% else %}
        <em>
            Nessun host trovato per <strong>{{ domain | default('N/A') }}</strong>.
        </em>
        {% endif %}
    </div>
    {% endif %}

    {% if asn_dict is defined %}
    <div class="section" id="hosting-providers">
        <h2>Provider di Hosting</h2>
        <p>Questa sezione evidenzia i <strong>provider di hosting</strong> identificati da tutte le fonti di dati pubbliche. Queste informazioni possono essere preziose per comprendere come un attaccante potrebbe sfruttare questi provider. In particolare, attori malintenzionati potrebbero utilizzare provider noti per <strong>scarsa sicurezza</strong> o <strong>tolleranza</strong> verso attività illegali per ospitare server di comando e controllo, distribuire malware o lanciare campagne di phishing. La scelta del provider giusto può anche aiutare a eludere <strong>misure di sicurezza</strong>, riducendo la probabilità di essere rilevati o bloccati.</p>
        {% if asn_dict|length > 0 %}
            <table>
                <tr><th>ASN</th><th>ISP</th></tr>
                {% for asn, isp in asn_dict.items() %}
                    <tr>
                        <td><code>{{ asn }}</code></td>
                        <td>{{ isp }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p><em>Nessun provider di hosting trovato per <strong>{{ domain | default('N/A') }}</strong>.</em></p>
        {% endif %}
    </div>
    {% endif %}

    {% if compromised_ips is defined %}
    <div class="section" id="compromised-hosts">
        <h2>Host Compromessi</h2>
        <p>
            <p>Questa sezione include <strong>host</strong> appartenenti all'organizzazione che sono segnalati per attività potenzialmente malevole da fonti pubbliche di reputazione IP. L'analisi mira a verificare se uno o più indirizzi IP associati alla società sono stati identificati come coinvolti in <strong>comportamenti anomali</strong> o <strong>abusivi</strong> (es. attività sospette, spam, scanning, tentativi di accesso non autorizzati). Questi report, sebbene non sempre confermino un'effettiva compromissione, rappresentano un <strong>indicatore di rischio</strong> e possono suggerire la necessità di ulteriori controlli interni sui sistemi coinvolti.
            Vengono mostrati solo host compromessi negli ultimi 365 giorni.</p>
        </p>
        {% if compromised_ips|length > 0 %}
            {% for ip, info_list in compromised_ips.items() %}
                <table>
                    <tr class="ip-row">
                        <td colspan="2">
                            <code class="bold-transparent-code">{{ ip }}</code>
                        </td>
                    </tr>
                    <tr><th>Data</th><th>Commento</th></tr>
                    {% for info in info_list %}
                        <tr>
                            <td style="width: 30%;">{{ info['reportedAt'] if info is defined and 'reportedAt' in info else '' }}</td>
                            <td>
                                {% if info is defined and 'comment' in info and info['comment'] %}
                                    {{ info['comment'] }}
                                {% else %}
                                    <em>Nessun commento disponibile</em>
                                {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        {% else %}
            <p><em>Nessun host compromesso trovato per <strong>{{ domain | default('N/A') }}</strong>.</em></p>
        {% endif %}
    </div>
    {% endif %}

    {% if leaked_credentials is defined %}
    <div class="section">
        <h2 id="compromised-credentials">Credenziali Compromesse</h2>
        <p>
            Questa sezione contiene tutte le credenziali compromesse identificate durante l'investigazione OSINT. La compromissione delle credenziali è una delle minacce più gravi alla sicurezza informatica, poiché può fornire agli attaccanti l'accesso diretto a <strong>risorse interne sensibili</strong>, <strong>sistemi critici</strong> e <strong>dati confidenziali</strong>. Le informazioni raccolte provengono da <strong>violazioni note</strong>, <strong>data leak</strong> e <strong>piattaforme di condivisione illecite</strong>, fornendo una panoramica dei rischi che l'azienda potrebbe affrontare. Questa analisi mira a identificare potenziali <strong>punti di ingresso</strong> per futuri attacchi e suggerire <strong>misure di mitigazione</strong> per proteggere l'integrità dei sistemi aziendali.
        </p>
        {% if leaked_credentials|length > 0 %}
            <h3 id="summary-of-leaked-credentials">Riepilogo delle Credenziali Compromesse</h3>
            <table>
                <tr><th>Email</th><th>Conteggio</th></tr>
                {% for email, leaks in leaked_credentials.items() %}
                    <tr><td><code>{{ email }}</code></td><td>{{ leaks|length }}</td></tr>
                {% endfor %}
            </table>
            <h3 id="leaked-credentials">Credenziali Compromesse</h3>
            {% for email, leaks in leaked_credentials.items() %}
                <div class="leaked">
                    <div class="leaked-start">
                        <table>
                            <tr class="leaked-credentials-header">
                                <td><h4><code class="bold-transparent-code">{{ email }}</code></h4></td>
                            </tr>
                        </table>
                        <h5>Coinvolgimento in Data Breach</h5>
                        {% if data_breaches is defined and email in data_breaches and data_breaches[email]|length == 0 %}
                            <p><em>Nessuna violazione di dati trovata per <strong>{{ email }}</strong> da fonti pubbliche.</em></p>
                        {% elif data_breaches is defined and email in data_breaches %}
                            <table>
                                <tr><th>Titolo</th><th>Data</th><th>Dati Compromessi</th></tr>
                                {% for breach in data_breaches[email] %}
                                    <tr>
                                        <td><strong>{{ breach.Title if breach is defined and 'Title' in breach else '' }}</strong></td>
                                        <td>{{ breach.AddedDate if breach is defined and 'AddedDate' in breach else '' }}</td>
                                        <td>{{ breach.DataClasses|join(', ') if breach is defined and 'DataClasses' in breach else '' }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            <p><em>Nessuna informazione su Data Breach disponibile per <strong>{{ email }}</strong>.</em></p>
                        {% endif %}
                    </div>
                    <h5>Data Leak</h5>
                    {% for leak in leaks %}
                        <div class="data-leak-container">
                            <code class="data-leak">{{ leak }}</code>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <p><em>Nessuna credenziale compromessa trovata per <strong>{{ domain | default('N/A') }}</strong>.</em></p>
        {% endif %}
    </div>
    {% endif %}

    {% if breach_dict is defined %}
    <div class="section" id="data-breach-details">
        <h2>Dettagli dei Data Breach</h2>
        <p>
        Questo capitolo fornisce <strong>informazioni dettagliate</strong> sui <strong>Data Breach</strong> che riguardano l'<strong>azienda</strong>.
        Questi dettagli, raccolti da <strong>fonti pubbliche</strong> e <strong>database di data leak</strong>, offrono una panoramica chiara degli <strong>incidenti di sicurezza</strong> e aiutano a identificare <strong>aree vulnerabili</strong> all'interno dell'organizzazione.
        </p>
        {% if breach_dict|length > 0 %}
            <table>
                <tr><th>Titolo</th><th>Descrizione</th></tr>
                {% for title, description in breach_dict.items() %}
                    <tr>
                        <td><strong>{{ title }}</strong></td>
                        <td>{{ description|safe }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p><em>Nessuna violazione di dati trovata per <strong>{{ domain | default('N/A') }}</strong>.</em></p>
        {% endif %}
    </div>
    {% endif %}

    <!--
    <div class="section" id="conclusion">
        <h1>Conclusione</h1>
    </div>
    -->

</body>
</html>